<!--
<a class="play" ng-class="{ on: row.publications.Engage }"></a>
-->
<a data-open-modal="event-details"
	data-resource-id="{{ row.id }}"
	class="more"
	with-role="ROLE_UI_EVENTS_DETAILS_VIEW">
</a>

<!-- Remove button for non-published events. -->
<a class="remove" ng-if="angular.isUndefined(row.publications) || row.publications.length <= 0"
	data-confirmation-modal="confirm-modal"
    data-callback="table.delete"
    data-object="row"
    with-role="ROLE_UI_EVENTS_DELETE"
></a>

<!-- Remove button for published events. -->
<a class="remove" ng-if="row.publications.length > 0"
    data-open-modal="retract-published-event-modal"
    data-resource-id="{{row.id}}"
    with-role="ROLE_UI_EVENTS_DELETE"
></a>

<a ng-if="row.has_preview && row.needs_cutting" href="#/events/events/{{row.id}}/tools/editor"
  class="fa fa-scissors"
	with-role="ROLE_UI_EVENTS_EDITOR_VIEW">
</a>

<a ng-if="row.has_preview && !row.needs_cutting" href="#/events/events/{{row.id}}/tools/playback"
	class="preview"
	with-role="ROLE_UI_EVENTS_EDITOR_VIEW">
</a>

<a ng-if="row.has_comments && !row.has_open_comments"
	data-open-modal="event-details"
	data-resource-id="{{ row.id }}"
	data-tab="comments"
	class="fa fa-comment-o">
  <!-- <i class="notification"></i> -->
</a>

<a ng-if="row.has_comments && row.has_open_comments"
	data-open-modal="event-details"
	data-resource-id="{{ row.id }}"
	data-tab="comments"
	class="fa fa-comment">
</a>

<a ng-if="row.workflow_state == 'PAUSED'"
	data-open-modal="event-details"
	data-resource-id="{{ row.id }}"
	data-tab="workflows"
	with-role="ROLE_UI_EVENTS_DETAILS_WORKFLOWS_EDIT"
	class="fa fa-warning">
</a>
